body{
  margin: 0% 7% 7% 7%;
}
header nav ul li{
  display: inline;
  padding: 10px;
}
.titulo{
  text-align: center;
  margin-bottom: 30px
}
.ladoIzquierdo{
  width: 30%;
  float: left;
  margin-right:  5%;
}

.curso{
  width: 100%;
  float: left;
  text-align: center;
}
.lista{
  background-color: #1c478c;

}
.lista a{
  color: white;
  text-decoration: none;

}
.codigo{
  background-color:#747d8c;
  width: 250px;
  overflow: auto;
}
