body{
  margin: 0% 7% 7% 7%;
}
header nav ul li{
  display: inline;
  padding: 10px;
}
.titulo{
  text-align: center;
  margin-bottom: 30px
}
.ladoIzquierdo{
  width: 30%;
  float: left;
  margin-right:  5%;
}

.curso{
  width: 100%;
  float: left;
  text-align: center;
}
.lista{
  background-color: #1c478c;

}
.lista a{
  color: white;
  text-decoration: none;

}
.codigo{
  background-color: #f0f0f5;
  max-width: 90%;
  overflow: auto;
}
.mitadIzquierda{
  width: 50%;
  float: left;
  min-width: 50%;
  margin-right: 5px;
  background-color: rgb
}
#video{
  float: left;
}
.mitadDerecha{
  float: left;
  width: 45%;
  min-width: 45%;
}
.separar{
  clear: both;
}
.autores{
  padding: 5px;
  border-style: solid;
  width: 250px;
  text-align: center;
  background-color: #627087;
}
#cuadroColores{
  background-color: #000;
  width: 120px;
  height: 120px;
}
